###
 # \file
 #
 # \brief Provides Skywire Nano board configurations
 #
 # (C) NimbeLink Corp. 2020
 #
 # All rights reserved except as explicitly granted in the license agreement
 # between NimbeLink Corp. and the designated licensee.  No other use or
 # disclosure of this software is permitted. Portions of this software may be
 # subject to third party license terms as specified in this software, and such
 # portions are excluded from the preceding copyright notice of NimbeLink Corp.
 ##

if SOC_NRF9160_SICA

config BOARD_SKYWIRE_NANO_APP
    bool "Skywire Nano -- Non-Secure App"
    help
        This will select the latest Skywire Nano board, which is compatible with
        all hardware variants, but only v1.1.x or greater stack firmware.

config BOARD_SKYWIRE_NANO_APP_V1_0_X
    bool "Skywire Nano -- Non-Secure App, version v1.0.x"
    help
        This will select the older Skywire Nano board, which is compatible with
        the v1.0.x stack firmware Application Binary Interface (ABI). This is
        compatible with all Skywire Nano hardware variants.

endif
