###
 # \file
 #
 # \brief Provides configurations for the Skywire Nano SDK
 #
 # © NimbeLink Corp. 2020
 #
 # All rights reserved except as explicitly granted in the license agreement
 # between NimbeLink Corp. and the designated licensee.  No other use or
 # disclosure of this software is permitted. Portions of this software may be
 # subject to third party license terms as specified in this software, and such
 # portions are excluded from the preceding copyright notice of NimbeLink Corp.
 ##

menuconfig SKYWIRE_NANO_SDK
    bool "Skywire Nano SDK"
    default n
    help
        Enables building the Skywire Nano SDK and its enabled resources.

if SKYWIRE_NANO_SDK
menu "Non-Secure Peripheral Access"
rsource "Kconfig.peripheral_access"
endmenu
endif
